
/* Custom css
-------------------------------------------------- */


.directorySpan {
    font-size: 50%;
}

.col-sm-2 {
    text-align: right
}

.poya-nav-dropdown *{
    border-radius: 8px;
}


.poya-nav-dropdown-item:hover{
    background-color: #ff00dc;
}

#_Language{
    width: min-content;
}

.prevent-select{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}