
/* Custom css
-------------------------------------------------- */


.directorySpan {
    font-size: 50%;
}

.col-sm-2 {
    text-align: right
}

.poya-nav-dropdown *{
    border-radius: 8px;
}


.poya-nav-dropdown-item:hover{
    background-color: #ff00dc;
}

#_Language{
    width: min-content;
}

.prevent-select
{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


.NavAvatar {
    height: 50px;
    width: 50px;
    position: absolute;
    box-shadow: 0px 0px 0px 1px #ff6a00;
}

    .NavAvatar:hover {
        animation: NavAvatarZoomIn 0.2s linear 1 forwards;
        opacity:1.0;
    }


#DonateEle {
    position: fixed;
    bottom: 42px;
    right: 1px;
    width: 45px;
    height: 45px;
    cursor:pointer;
}

    #DonateEle > img {
        width: inherit;
        height: inherit;
    }

        #DonateEle > img:hover {
            animation: DonateImgHover 0.2s linear 1 forwards;
        }


.home-carousel {
    border-radius: 10px;
    background-color: rgba(25,25,112,0.1);
    margin-top: 20px;
}

.carousel-caption h5, .carousel-caption p {
    color: blue;
    text-shadow: 1px 1px 2px #CDB5CD;
}

.carousel-caption h5 {
    zoom: 150%;
    font-weight: bold;
}

.carousel-item {
    height: 500px;
    overflow: hidden;
}

    .carousel-item img {
        margin: auto;
        object-fit: cover;
    }

/**--------
    *  FROM    https://blog.csdn.net/ly305750665/article/details/71499497
    *  THANK   https://blog.csdn.net/ly305750665
    */
.rotate-img {
    animation: rotateImg 50s linear infinite;
    vertical-align: middle;
}

.zoom-out-img {
    width: 100%;
    animation: zoomOutImg 20s linear infinite;
    vertical-align: middle;
}

.zoom-in-img {
    animation: zoomInImg 20s linear infinite;
    vertical-align: middle;
}


.register-col,.register-col input
{
    text-align: center;
}