/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom css
-------------------------------------------------- */

.directorySpan {
    font-size: 50%;
}

.col-sm-2 {
    text-align: right
}


/*
case "Dark":
        $("#_body,footer").css({ "background-color": "black", "color": "#C7EDCC" });
        $(".table").css("color", "#C7EDCC");
        $("input[class=form-control],textarea[class=form-control]").css({ "background-color": "#C7EDCC" });
        $("button").css({ "color": "#C7EDCC" });
        $("select").css({ "background-color": "black", "color": "#C7EDCC" });
        break;
    case "Light":
        $("#_body,footer").css({ "background-color": "white", "color": "black" });
        $(".table").css("color", "black");
        $("input[class=form-control],textarea[class=form-control]").css({ "background-color": "white" });
        $("button").css({ "color": "black" });
        $("select").css({ "background-color": "white" });
        break;
    default:
        $("#_body,footer").css({ "background-color": "#C7EDCC", "color": "black" });
        $(".table").css("color", "black");
        $("button").css({ "color": "black" });
        $("select").css({ "background-color": "#C7EDCC", "color": "black" });
        $("input[type!='submit']").css({ "background-color": "white", "color": "black" });

dl {
    border-color: #C7EDCC
}

[name='UserAvatarImg']:hover {

}
#navbarMainIcon{
    width:10px;
    height:10px;
}

*/
