/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom css
-------------------------------------------------- */

.directorySpan {
    font-size: 50%;
}

.col-sm-2 {
    text-align: right
}

.dropdown *{
    border-radius: 8px;
}


.dropdown-item:hover{
    background-color: #ff00dc;
}


/* KEYFRAMES
-------------------------------------------------- */


@keyframes EArticleFromAnimation{
    100%{
        transform:scale(1.2) translateY(-6px);
    }
}

@keyframes PaddingAnimation {
    100% {
        border-radius: 2px;
        background-color: rgba(0, 38, 255,0.2);
    }
}

@keyframes MailToEArticleUserAnimation{
    100%{
        transform:scale(3);
    }
}

@keyframes AnimationBoxShadow {


    100% {
        box-shadow: 5px 5px 8px #888888;
    }
}

@keyframes BgAnimation {
    10% {
        background: rgba(223,5,44,0.2);
    }

    25% {
        background: rgba(24,133,76,0.4);
    }

    50% {
        background: rgba(12,223,98,0.3);
    }
}

@keyframes AnimationBoxShadow {
    0% {
        box-shadow: 1px 1px 1px #888888;
    }

    100% {
        box-shadow: 5px 5px 8px #888888;
    }
}

@keyframes AnimationBoxShadow {
    0% {
        box-shadow: 1px 1px 1px #888888;
    }

    25% {
        box-shadow: 3px 3px 5px #888888;
    }

    50% {
        box-shadow: 5px 5px 8px #888888;
    }

    75% {
        box-shadow: 3px 3px 5px #888888;
    }

    100% {
        box-shadow: 1px 1px 1px #888888;
    }
}

@keyframes AvatarScale {
    0% {
        height: 55px;
        width: 55px;
        margin-top: 20px;
        border: 1px solid #ff00dc;
        box-shadow: 0px 0px 0px #ff00dc;
    }

    100% {
        height: 75px;
        width: 75px;
        margin-top: 5px;
        border: 4px solid #ff00dc;
        box-shadow: 0px 0px 9px #ff00dc;
    }
}

@keyframes AccountManageNavItemAnimation{
    100%{
        transform:scale(1.2);
    }
}

@keyframes AvatarAnimation {


    100% {
        transform: scale(1.2);
    }
}

@keyframes InputControlAnimation {
    100% {
        transform: scale(1.1);
    }
}


@keyframes _UserAvatarAnimation {

    100% {
        transform: scale(1.2);
        border-width: 5px;
    }
}

@keyframes UserInfoEleAnimation {
    100% {
        border-color: rgb(255, 0, 220);
    }
}

@keyframes TrAnimation {
    100% {
        transform: scale(1.1);
    }
}

@keyframes StoreIconFileImgAnimation {
    100% {
        transform: scale(1.15);
    }
}

@keyframes XLicenseImgAnimation {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes LicenseImgFileEleDelete {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(0.1);
    }
}

@keyframes GlintBackgroundColor{
    0%{
        background-color:red;
        font-size:80%;
    }
    50%{
        background-color:Highlight;
        font-size:88%;
    }
    100%{
        background-color:red;
        font-size:80%;
    }
}

@keyframes CommonTipAnimation {
      0%{
        color:red;
        font-size:100%;
        font-weight:100;
    }
    50%{
        color:Highlight;
        font-size:120%;
        font-weight:600;
    }
    100%{
        color:red;
        font-size:100%;
        font-weight:100;
    }
}

@keyframes StoreIconHoverAnimation{
    0%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.08);
    }
    100%{
        transform:scale(1.05);
    }
}


@keyframes BecomeAdvertiser {
    0%{
        color: rgb(242, 89, 11);
    }
    100% {
        color: rgb(64, 67, 212);
    }
}

@keyframes BecomeAdvertiserHover {
    0%{
        color: rgb(242, 89, 11);
    }
    
    100% {
        color: rgb(242, 89, 11);
    transform:scale(1.05);
    }
}

@keyframes StoreIconAnimation{
    45%{
        transform:scale(1.3);
    }
    100%{
        transform:scale(1.2);
    }
}


@keyframes PayImgHover {
    100% {
        transform: scale(1.15);
    }
}

@keyframes Donate8StorySubDivHover {
    100% {
        transform: scale(1.1);
    }
}

@keyframes zoomOutImg {
    0% {
        height: 150%;
    }

    100% {
        height: 100%;
    }
}

@keyframes zoomInImg {
    0% {
        width: 50%;
    }

    100% {
        width: 150%;
    }
}

@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




@keyframes DonateImgRotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes DonateImgHover {
    0% {
        box-shadow: 0px 0px 0px 0px #ff00dc;
    }

    100% {
        box-shadow: 0px 0px 0px 6px #ff00dc;
        transform:scale(1.2);
    }
}


@keyframes InitialAvatar{
    100% {
        opacity: 1.0;
        box-shadow: 0px 0px 0px 2px #ff6a00;
    }
}

@keyframes NavAvatarZoomIn {
    
    100% {
        box-shadow: 0px 0px 0px 4px #ff00dc;
    }
}
