# Custom ignore rule of some files and directorie

/bin/
/obj/
/Migrations/*
/Data/LFiles/Avatars/*
/Data/LFiles/XUserFile/*
/Data/Database/*
/Areas/EduHub/Data/EArticleFiles/*
/Areas/XAd/Data/LicenseImgFiles/*

/appsettings.json
/app.db
/app.db-journal
/ScaffoldingReadme.txt