# Custom ignore rule of some files and directorie

/.vscode/
/bin/
/obj/
/Migrations/*
/Data/LFiles/Avatars/*
/Data/LFiles/XUserFile/*
/Data/Database/*
/Areas/EduHub/Data/EArticleFiles/*
/Areas/XAd/Data/LicenseImgFiles/*
/Areas/XAd/Data/XAdImgFiles/*


/app.db
/app.db-journal
/ScaffoldingReadme.txt


/Areas/FunFiles/Data/
/Areas/WeEduHub/Data/


*.csv#



# ******************* #
/appsettings.json
# ******************* #