@model POYA.Areas.XSchool.Models.LSchool

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>LSchool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainAdminId" class="control-label"></label>
                <input asp-for="MainAdminId" class="form-control" />
                <span asp-validation-for="MainAdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverMD5" class="control-label"></label>
                <input asp-for="CoverMD5" class="form-control" />
                <span asp-validation-for="CoverMD5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intro" class="control-label"></label>
                <input asp-for="Intro" class="form-control" />
                <span asp-validation-for="Intro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DORegistering" class="control-label"></label>
                <input asp-for="DORegistering" class="form-control" />
                <span asp-validation-for="DORegistering" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVerified" /> @Html.DisplayNameFor(model => model.IsVerified)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Motto" class="control-label"></label>
                <input asp-for="Motto" class="form-control" />
                <span asp-validation-for="Motto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterUserId" class="control-label"></label>
                <input asp-for="MasterUserId" class="form-control" />
                <span asp-validation-for="MasterUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
