@model POYA.Models.SharedD

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SharedD</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DirId" class="control-label"></label>
                <input asp-for="DirId" class="form-control" />
                <span asp-validation-for="DirId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DOSharing" class="control-label"></label>
                <input asp-for="DOSharing" class="form-control" />
                <span asp-validation-for="DOSharing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOEnd" class="control-label"></label>
                <input asp-for="DOEnd" class="form-control" />
                <span asp-validation-for="DOEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" />
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId_" class="control-label"></label>
                <input asp-for="UserId_" class="form-control" />
                <span asp-validation-for="UserId_" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
