@model POYA.Models.SharedF

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _DOEnd=Model.DOEnd==null?"":Model.DOEnd?.LocalDateTime.ToString("yyyy-MM-dd");
}

<h1>Edit</h1>

<h4>SharedF</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DOEnd" class="control-label"></label>
                <input asp-for="DOEnd" class="form-control" type="date" value="@_DOEnd"/>
                <span asp-validation-for="DOEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" />
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a id="back_a" class="btn btn-info"><< @Localizer["Back"]</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#back_a").on("click",function(){
            history.go(-1);
        });
    </script>
}
