@model POYA.Areas.XUserFile.Models.LUserFile

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(string.Format(Localizer["Details for {0}"], Model.Name)) </h1>

<partial name="_DetailsPartial" model="Model" />


<div>
    <a id="BackA" class="btn btn-outline-info">&laquo; @Localizer["Back"]</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">@Localizer["Edit"]</a>
</div>

@section Scripts{
    <script>
        $("#BackA").on("click", function () {
            history.go(-1);
        });
    </script>
}

@section Styles{
    <style>
        video, img {
            max-width: 90%;
        }
    </style>
}