@model IEnumerable<POYA.Areas.XUserFile.Models.LUserFile>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="img-div">

    @foreach (var img in Model)
    {
    <span>
        <img class="shared-img" id="@img.Id" data-toggle="tooltip" data-placement="auto" title="@Localizer["Click to get url"]" src="@Url.Action("GetFile","LUserFiles", new {img.Id})" />
    </span>
    }
</div>

@section Scripts{ 
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $(".shared-img").on("click", function () {

        });
    });
</script>
}

@section Styles{
    <style>
        .shared-img {
            max-height: 20%;
            max-width: 200px;
            padding:20px;
        }
        .img-div{
        }
    </style>
}