@model POYA.Areas.XUserFile.Models.LUserFile

@{
    ViewData["Title"] = "LFileUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LFileUpload</h1>

<h4>LUserFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LFileUpload">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SHA256" class="control-label"></label>
                <input asp-for="SHA256" class="form-control" />
                <span asp-validation-for="SHA256" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOCreate" class="control-label"></label>
                <input asp-for="DOCreate" class="form-control" />
                <span asp-validation-for="DOCreate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEArticleFile" /> @(Html.DisplayNameFor(model => model.IsEArticleFile))
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLegal" /> @(Html.DisplayNameFor(model => model.IsLegal))
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InDirId" class="control-label"></label>
                <input asp-for="InDirId" class="form-control" />
                <span asp-validation-for="InDirId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
