@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Localizer["Donate"];
}

<div class="row Donate8Story">
    <div class="col col-auto"><a>@(Localizer["Donate"])</a></div>|
    <div class="col col-auto"><a asp-action="Index" asp-controller="XDevelopers" asp-area="DeveloperZone">@(Localizer["The story of the developers"])</a> </div>
</div>
<hr />
<div class="row" style="margin-top:2%">
    <div class="col offset-1 col-2">
        <img src='~/img/wechat_pay.webp' class="PayImg" title='@Localizer["Thank you very much"] !' />
    </div>
    <div class="col offset-3 col-3">
        <img src='~/img/alipay_pay.webp' class="PayImg" title='@Localizer["Thank you very much"] !' />
    </div>
</div>
@section Styles{
    <style type="text/css">
        .Donate8Story {
            font-size: 200%;
            cursor: pointer;
        }

        .PayImg {
            max-height: 250px;
            max-width: 250px;
            border: solid;
            border-color: coral;
            box-shadow: 2px 2px 18px firebrick;
            border-width: 2px;
            border-radius: 12px;
            cursor: pointer;
        }

            .PayImg:hover {
                animation: PayImgHover 0.2s linear 1 forwards;
            }

        .Donate8Story > div:hover {
            animation: Donate8StorySubDivHover 0.1s linear 1 forwards;
        }

        @@keyframes PayImgHover {
            100% {
                transform: scale(1.15);
            }
        }

        @@keyframes Donate8StorySubDivHover {
            100% {
                transform: scale(1.1);
            }
        }
    </style>
}