@{
    ViewData["Title"] = Localizer["Privacy Policy"];
}
<h1>@(ViewData["Title"])</h1>
<p style="font-size:120%;width:54%">@(Localizer["We promise and guarantee that your personal information will not be unlawfully infringed and we do not use your personal information and traces of this site for statistical analysis and data science and you are required to comply with the laws and regulations of your country or region when using this site"])</p>
