@{
    ViewData["Title"] = Localizer["Test"];
}


<h1>@(ViewData["Title"])</h1>

<div class="col col-12">

    <div id="toolbar-container"></div>
    <div id="editor">
        <p>This is the initial editor content.</p>
    </div>
</div>

@section Scripts{
    <script>
    </script>
}

@section Styles{
    <style>

    </style>
}