@model POYA.Areas.XAd.Models.LAd

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"]=Localizer["Edit advertisement"];
}

<h4>@(ViewData["Title"])</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AdvertiserUserId" class="control-label"></label>
                <input asp-for="AdvertiserUserId" class="form-control" />
                <span asp-validation-for="AdvertiserUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOPublishing" class="control-label"></label>
                <input asp-for="DOPublishing" class="form-control" />
                <span asp-validation-for="DOPublishing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a id="BackEle" class="btn btn-outline-info">&laquo;@(Localizer["Back"])</a>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        
    </script>
}

@section Styles{
    <style>

    </style>
}