@model IEnumerable<POYA.Areas.WeEduHub.Models.WeArticleSet>

@{
    ViewData["Title"] = Localizer["Video and article set"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(ViewData["Title"])</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info float-right">@(Localizer["Add"])</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@(item.Name)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    }
</div>