@model POYA.Areas.LAdmin.Models.AuditResult

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AuditResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ContentId" class="control-label"></label>
                <input asp-for="ContentId" class="form-control" />
                <span asp-validation-for="ContentId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsContentLegal" /> @(Html.DisplayNameFor(model => model.IsContentLegal))
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IllegalityType" class="control-label"></label>
                <input asp-for="IllegalityType" class="form-control" />
                <span asp-validation-for="IllegalityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditComment" class="control-label"></label>
                <input asp-for="AuditComment" class="form-control" />
                <span asp-validation-for="AuditComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info" id="BackEle">&laquo; @(Localizer["Back"])</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
