@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div id="DonateEle" title='@Localizer["Donate"]'>
    <img src='~/img/Donate.webp' class="rounded-circle" />
</div>
<script>
    document.querySelector("#DonateEle").onclick = function () {
        location.href = `@Url.Action("Donate","Home")`;
    }
</script>