@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POYA.Areas.EduHub.Models.EArticle


<div class="form-group col col-5">
    <select asp-for="VideoSharedCode" asp-items="Model.VideoSharedCodeSelectListItems" class="form-control"></select>
</div>