@model POYA.Areas.EduHub.Models.EArticle

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  ViewData["IsEdit"] = true;
    var _ViewDatas = new ViewDataDictionary(ViewData){
        { "IsEdit",true}
    };
}

<h1>@(Localizer["Edit"]) <span class="EditArticleSpan">@Localizer["your article"]</span> </h1>
<partial name="_EditPartial" model="Model" view-data="_ViewDatas" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

@section Styles {

}