@page
@model POYA.Areas.Identity.Pages.Account.Manage.POYAMessageModel

@{
    ViewData["Title"] = Localizer["POYA Message"];
    ViewData["ActivePage"] = ManageNavPages.POYAMessage;
}

<h4>@(ViewData["Title"])</h4>