@page
@model POYA.Areas.Identity.Pages.Account.Manage.POYAMessageModel

@{
    ViewData["Title"] = Localizer["POYA Message"];
    ViewData["ActivePage"] = ManageNavPages.POYAMessage;
}

<h4>@(ViewData["Title"])</h4>
<a asp-action="Index" asp-controller="FContentChecks" asp-area="FunAdmin" class="btn btn-outline-info">@(Localizer["Your reports"])</a>