@model POYA.Models.LDir

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>@(string.Format(Localizer["Are you sure you want to delete {0}"], Model.Name))<span class="directorySpan">&#128448;</span>?</h3>

<partial name="_DetailsPartial" model="Model" />

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <a class="btn btn-outline-info" id="Back"><< @Localizer["Back"]</a>
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>

@section Scripts{
    <script>
        $("#Back").on("click", function () {
            window.history.go(-1);
        });
    </script>
}
@section Styles{
    <style>
    </style>
}