@model POYA.Areas.FunFiles.Models.FunDir

@{
    
}

<div class="Times_FunFilesPopupClose ">&times;</div>

<h4>@(Localizer["Create a directory"])</h4>
<hr/>
<div class="row">
    <div class="offset-2 col-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ParentDirId" type="hidden"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"  autocomplete="off"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a id="FunFilesPopupClose" class="btn btn-outline-info">&laquo; @(Localizer["Close"])</a>
                <input class="btn btn-outline-primary" type="submit" value='@(Localizer["Create"])'/>
            </div>
        </form>
    </div>
</div>
