@model IEnumerable<POYA.Areas.FunFiles.Models.FunDir>
@using POYA.Areas.FunFiles.Controllers;

@{

}

@foreach (var item in Model)
{
    <li class="breadcrumb-item">
        <a href='@(Url.Action("Index",new{ParentDirId=item.Id}))'>@(item.Name)</a>
    </li>
}
