@model POYA.Areas.FunAdmin.Models.FContentCheck

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FContentCheck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ContentId" class="control-label"></label>
                <input asp-for="ContentId" class="form-control" />
                <span asp-validation-for="ContentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppellantId" class="control-label"></label>
                <input asp-for="AppellantId" class="form-control" />
                <span asp-validation-for="AppellantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceptionistId" class="control-label"></label>
                <input asp-for="ReceptionistId" class="form-control" />
                <span asp-validation-for="ReceptionistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOSubmitting" class="control-label"></label>
                <input asp-for="DOSubmitting" class="form-control" />
                <span asp-validation-for="DOSubmitting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOHandling" class="control-label"></label>
                <input asp-for="DOHandling" class="form-control" />
                <span asp-validation-for="DOHandling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppellantContent" class="control-label"></label>
                <input asp-for="AppellantContent" class="form-control" />
                <span asp-validation-for="AppellantContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceptionistContent" class="control-label"></label>
                <input asp-for="ReceptionistContent" class="form-control" />
                <span asp-validation-for="ReceptionistContent" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLegal" /> @Html.DisplayNameFor(model => model.IsLegal)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ContentTitle" class="control-label"></label>
                <input asp-for="ContentTitle" class="form-control" />
                <span asp-validation-for="ContentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
