@model POYA.Areas.XUserFile.Models.LDir
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>@(string.Format(Localizer["Create directory in {0}"], Model.InDirName))</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="CreateDirForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="InDirId" hidden />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-route-InDirId="@(Model.InDirId)" asp-controller="LUserFiles" class="btn btn-outline-info">&laquo; @(Localizer["Back"])</a>
                <input type="submit" value='@Localizer["Create"]' class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
